
<div style="padding: 10px;"> 
    Actions: 
    <span *ngIf="enableActions" class="btn btn-primary p2abp" (click)="print()" >Print</span>
</div>
<app-data-table [header]="header" [rows]="data" > </app-data-table>

<app-pagination [length]="len.value" [perPage]="pp.value"></app-pagination>
<div>
    Length: <input [formControl]="len"> <br>
    PerPage: 
    <select [formControl]="pp">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
    </select>
</div>