

.pdn{
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.pdnh{
    background: greenyellow;
}

.pcp{
    padding: 10px;
}