<!-- <div class="d-flex pcp">
    <div class="pdn" (click)="currentPage = 1">
      <<
    </div>
    <div class="pdn" (click)="currentPage=currentPage-1">
      <
    </div> 
  <ng-container *ngFor="let i of arr;">
    <div class="pdn" *ngIf="currentPage<arr.length-5 && i==arr.length-2">
      ...
    </div>
    <div 
      class="pdn" 
      *ngIf="i<3 || i>arr.length-2 || (i>2 && i<arr.length-2 && i>currentPage-3 && i<currentPage+3)  " 
      (click)="currentPage=i"
      [ngClass]="{'pdnh':currentPage==i}"
    >
      {{i}}
    </div>
    <div class="pdn" *ngIf="currentPage>5 && i==2">
      ...
    </div>
  </ng-container>         
  <div class="pdn" (click)="currentPage=currentPage+1">
    >
  </div>  
  <div class="pdn" (click)="currentPage = arr.length">
    >>
  </div>  
</div> -->


<!-- ------new code------ -->

{{currentPage}}
<div *ngIf="lastPageNumber>1" class="p-f">

  <!-- previous starts -->
    <div >
        <span (click)="prevPage()" [ngClass]="{ 'disabled' : currentPage == 1 }" >
            <
        </span>
    </div>
    <!-- previous ends -->
  
    <!-- first page starts -->
    <div [ngClass]="{ 'current-page' : currentPage == 1 }"  (click)="pageNumberClicked(1)" >
        <span>1</span>
    </div>
    <!-- first page ends -->
  
    <!-- ellips starts -->
    <div  *ngIf="range[0]>2" (click)="leftEllips()">
       <span>&hellip; </span>
    </div>
    <!-- ellips ends -->
  
    <!-- forloop starts -->
    <div *ngFor="let item of range" [ngClass]="{ 'current-page' : currentPage == item }" (click)="pageNumberClicked(item)">
        <span>{{item}}</span>
    </div>
    <!-- forloop ends -->
  
    <!-- ellips starts -->
    <div *ngIf="range[range.length-1]<lastPageNumber-1" (click)="rightEllips()">
        <span>&hellip;</span>
    </div>
    <!-- ellips ends -->
  
    <!-- last page number starts -->
    <div  *ngIf="lastPageNumber>1" [ngClass]="{ 'current-page' : currentPage == lastPageNumber }"  (click)="pageNumberClicked(lastPageNumber)">
        <span>{{lastPageNumber}}</span>
    </div>
    <!-- last page number ends -->
  
    <!-- next starts -->
    <div >
        <span (click)="nextPage()" [ngClass]="{ 'disabled' : currentPage == lastPageNumber }"> 
            >
        </span>
    </div>
    <!-- next ends -->
    <span style="width:50px;">
      <select [formControl]="pp">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
      </select>
    </span>
  </div>